body {
    font-family: 'Outfit', ui-sans-serif;
    margin: 0; /* Zajišťuje, že nebude žádný výchozí okraj */
}

.Navigace {
    width: 100%;
    height: 60px;
    text-align: right;
}

.Ikony-nav {
    max-height: 30px;
    max-width: 30px;
    margin-right: 15px;
}

.Hlavní {
    display: flex;
    justify-content: space-between; /* Rozloží prvky do maximální šířky */
    padding: 0 250px; /* Odsazení obsahu o 250px z levé a pravé strany */
}

.Profilovka {
    margin-top: 150px;
    margin-left: 550px;
    border-radius: 50%;
    transition: width 2s, height 2s, transform 2s;
    display: flex;
    position: relative;
    max-width: 250px;
    max-height: 250px;
}

.Profilovka:hover {
    transform: rotate(360deg);
    cursor: grabbing;
}

.Jmeno {
    margin: 150px 0 0 0;
    color: transparent;
    font-family: 'Outfit', system-ui;
    font-size: 64px;
    font-weight: 600;
    line-height: 1.2;
    background: linear-gradient(159deg, rgb(0, 60, 255) 46%, rgb(11, 0, 163) 65%, rgba(0,0,0,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Popisek {
    margin: 0;
    color: rgba(81, 81, 81, 1);
    font-family: 'Outfit', ui-sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
    text-transform: none;
}

.Hlavní-btn {
    margin-top: 25px;
}

.Hlavní-btn button {
    margin-right: 10px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    padding: 15px 20px;
    border-radius: 40px;
    cursor: pointer;
}

.Hlavní-btn-prim {
    color: white;
    background-color: #003cff;
}

.Hlavní-btn-seku {
    margin-top: 10px;
    color: black;
    background-color: #cce0ff;
}

.Další-info {
    margin: 80px 0;
    display: flex;
    justify-content: space-between;
    padding: 0 250px; /* Odsazení obsahu o 250px z levé a pravé strany */
}

.Dals-info-box {
    width: calc(33.33% - 20px); /* Přizpůsobení velikosti boxů na širší obrazovky */
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 15px;
    background-color: #ececec;
}

.Dals-info-box-nadpis {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
}

.Dals-info-box-text {
    margin-top: 10px;
    font-size: 16px;
}


footer {
    margin-top: 80px;
    margin-bottom: 15px;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    font-family: 'Outfit', ui-sans-serif;
}

.Pata {
    text-align: center;
    margin: 0;
}

.Pata-odkaz {
    color: blue;
    text-decoration: none;
}

.Pata-odkaz:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1200px) {
    .Hlavní {
        flex-direction: column;
        align-items: center;
        padding: 0 20px; /* Odsazení obsahu o 20px z levé a pravé strany */
    }

    .Profilovka {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        order: -1; /* Změna pořadí, aby byla profilovka nad jménem */
    }

    .Jmeno {
        margin: 20px 0;
        text-align: center;
        display: flex;
        font-size: 54px;
    }

    .Popisek {
        margin: 0;
        text-align: center;
        font-size: 24;
    }

    .Hlavní-btn {
        margin-top: 20px;
        text-align: center;
    }

    .Hlavní-btn button {
        margin-right: 10px;
    }

    .Další-info {
        flex-direction: column;
        align-items: center;
        padding: 0 20px; /* Odsazení obsahu o 20px z levé a pravé strany */
    }

    .Dals-info-box {
        width: calc(100% - 20px); /* Přizpůsobení šířky boxů na menší obrazovky */
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .Další-info {
        justify-content: center; /* Uprostředí boxy na širších displejích */
    }

    .Dals-info-box {
        width: calc(33.33% - 40px); /* Přizpůsobení velikosti boxů a mezer na širší obrazovky */
        margin-bottom: 20px;
        margin-right: 50px; /* Mezera mezi boxy */
    }

    .Dals-info-box:last-child {
        margin-right: 0; /* Zrušení mezer u posledního boxu */
    }
}
