body{
    background: url(./Obrázky/Pozadí.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.profilovka {
    margin-top: 120px;
    transition: width 2s, height 2s, transform 2s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.profilovka:hover {
    transform: rotate(360deg)
}

.uvitani {
    color: #FFF;
    font-family: Outfit;
    font-size: 25px;
    font-style: normal;
    font-weight: 700px;
    line-height: normal;
    text-align: center;
}

.uvitani-podrobnosti {
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 150px;
}

.okno {
    max-width: 1530px;
    margin: auto;
    height: 800px;
    max-width: 1539px;
    max-height: 800px; 
    flex-shrink: 0; 
    border-radius: 40px;
    background: rgba(217, 217, 217, 0.50);
    box-shadow: 0px 4px 35px 1px rgba(0, 0, 0, 0.60);
    justify-content: center;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

.okno-text {
    margin: 0 auto;
    text-align: center;
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.okno-text-odkaz {
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.zásluhy {
    color: rgb(255, 255, 255);
    font-size: x-small;
    text-align: center;
    font-family: monospace;
}

.zásluhy:hover {
    text-align: center;
    text-decoration: underline;
    font-family: monospace;
    animation: colorRotate 6s linear 0s infinite;
}

@keyframes colorRotate {
    from {
        color: #e566ff;
    }
    10% {
        color: #0099ff;
    }
    50% {
        color: #00ff00;
    }
    75% {
        color: #ff3399;
    }
    100% {
        color: #6666ff;
    }
}


.footer {
    margin-top: 150px;
    width: 100%;
}
