body {
    background: #110e07;
    color: #eae1d4;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0; 
    padding: 0;
}

#Hlavni {
    padding: 0 250px; /* Odsazení obsahu o 250px z levé a pravé strany */
    margin-top: 250px;
}

#Hlavni h1{
    font-size: 64px;
    font-weight: 900;
    color: #eae1d4;
    margin: 0;
}

#Hlavni p {
    margin: 0;
    color: #cfc6b4;
    font-size: 32px;
    font-weight: 500;
    text-decoration: none;
    text-transform: none;
}

.Btns{
    margin-top: 35px;
}

.Btns button {
    margin-right: 10px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    padding: 15px 20px;
    border-radius: 40px;
    cursor: pointer;
}

.Btn-prim {
    color: #ffe089;
    background-color: #574500;
}

.Btn-sec {
    color: #f1e1bb;
    background-color: #50462a;
}

.Btn-proj {
    color: #50462a;
    background-color: #d4c5a1;
}

#Dalsi-info {
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    padding: 0 250px; /* Odsazení obsahu o 250px z levé a pravé strany */
}

.Dalsi-info-box {
    width: calc(33.33% - 20px); /* Přizpůsobení velikosti boxů na širší obrazovky */
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 15px;
    background-color: #50462a;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.Dalsi-info-box:hover {
    transform: translateY(-10px);
}

.Dalsi-info-box h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 15px;
}

.Dalsi-info-box ul {
    padding-left: 24px;
    font-weight: 400;
    margin-top: 10px;
}

.Dalsi-info-box li {
    font-size: 18px;
    line-height: 1.5em;
}

footer {
    margin-top: 80px;
    margin-bottom: 15px;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 12px;
}

footer p {
    text-align: center;
    margin: 0;
}

footer a {
    color: #eae1d4;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

#Projekty {
    margin-top: 150px;
    padding-left: 250px;
}

#Projekty h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 15px;
}

#Projekty p {
    font-weight: 400;
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5em;
}

.Projekty-box {
    width: calc(100% - 250px); /* Přizpůsobení velikosti boxů na širší obrazovky */
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 15px;
    background-color: #50462a;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

@media screen and (max-width: 1200px) {
    #Hlavni {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }

    .Jmeno {
        margin: 20px 0;
        text-align: center;
        display: flex;
        font-size: 54px;
    }

    .Popisek {
        margin: 0;
        text-align: center;
        font-size: 24;
    }

    .Btn {
        margin-top: 20px;
        text-align: center;
    }

    .Btn button {
        margin-right: 10px;
    }

    #Dalsi-info {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }

    .Dalsi-info-box {
        width: calc(100% - 20px);
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1200px) {
    #Dalsi-info {
        justify-content: center;
    }

    .Dalsi-info-box {
        width: calc(33.33% - 40px);
        margin-bottom: 20px;
        margin-right: 50px;
    }

    .Dalsi-info-box:last-child {
        margin-right: 0;
    }
}
